
@{
    ViewBag.Title = "Consulta";
    Layout = "~/Areas/AreaRestrita/Views/Shared/Layout.cshtml";
}

@section scripts{
    <script src="~/JS/Usuario/Consulta.js"></script>
}

<h4>Consulta de Usuários</h4>

<hr />

<div class="row">
    <div class="col-md-3">
        <label>Pesquisar Usuários:</label>
        <input type="text" id="pesquisa" class="form-control"
               placeholder="Digite aqui" />
    </div>
</div>
<br />

<div id="mensagem"></div>

<table id="tabela" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Permissão</th>
            <th>Operações</th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
        <tr>
            <td colspan="5">
                Quantidade de registros: <span id="quantidade"></span>
            </td>
        </tr>
    </tfoot>
</table>

<!-- janela modal para exclusão -->
<div id="janelaexclusao" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h3 class="text-white">Excluir Usuário</h3>
            </div>
            <div class="modal-body">
                Deseja realmente excluir o usuário selecionado?
                <hr />
                Código do Usuário: <span id="idusuario_exclusao"></span>
                <br />

                Nome do Usuário: <span id="nome_exclusao"></span>
            </div>
            <div class="modal-footer">
                <button id="btnexclusao" class="btn btn-danger"
                        data-dismiss="modal">
                    Excluir Usuário
                </button>
                <button class="btn btn-info" data-dismiss="modal">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- janela modal para edição -->
<div id="janelaedicao" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h3 class="text-white">Atualizar Usuário</h3>
            </div>
            <div class="modal-body">

                <div id="erros" class="text-danger"></div>
                <input type="hidden" id="idusuario_edicao" />
                <input type="hidden" id="senha_edicao" />
                <label>Nome do Usuário:</label>
                <input type="text" id="nome_edicao" class="form-control campo"
                       placeholder="Nome do Usuário" />
                <br />

                <label>Email do Usuário:</label>
                <input type="text" id="email_edicao" class="form-control campo"
                       placeholder="Email do Usuário" />
                <br />

                <label>Permissão do Usuário:</label>
                <select id="permissao_edicao" class="form-control">
                    <option value="Administrador">Administrador</option>
                    <option value="Usuario">Usuario</option>
                </select>
                <br />
            </div>
            <div class="modal-footer">
                <button id="btnedicao" class="btn btn-primary"
                        data-dismiss="modal">
                    Atualizar Usuário
                </button>
                <button class="btn btn-info" data-dismiss="modal">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>
