<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Projeto Impacto</title>
    <!-- folhas de estilo CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="container">
    <!-- MENU -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/Home/Index">
            Sistema de Controle de Tarefas
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" datatarget="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/AreaRestrita/Principal">
                        Página Inicial <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                       id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Usuários
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"
                           href="/AreaRestrita/Usuario/Cadastro">Cadastrar Usuário</a>
                        <a class="dropdown-item"
                           href="/AreaRestrita/Usuario/Consulta">Consultar Usuário</a>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                       id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Tarefas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"
                           href="/AreaRestrita/Tarefa/Cadastro">Cadastrar Tarefa</a>
                        <a class="dropdown-item"
                           href="/AreaRestrita/Tarefa/Consulta">Consultar Tarefa</a>                        
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-12 text-right">
            <strong>Usuário autenticado:</strong> <br />
            @User.Identity.Name | <a href="/Home/LogOut">Sair</a>
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
    


</body>
</html>
