
@{
    ViewBag.Title = "Home";
    Layout = "~/Areas/AreaRestrita/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Área Restrita</title>
    <!-- folhas de estilo CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="container">
    
</body>
</html>